/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: #ebedf429;
    overflow-x: hidden;
}

:root {
    --primary: #ff9800;
    --black: #070707;
}

.btn-secondary {
    background: var(--black);
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 17px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    outline: none !important;
    box-shadow: none !important;
}

/* ======================= Header  ========================= */
.header_section {
    background: #fff;
    box-shadow: rgb(99 99 99 / 4%) 0px 2px 8px 0px;
}

.header_section .nav-link {
    font-size: 15px;
    font-weight: 400;
    color: #585858;
    padding: 23px 19px !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header_section .nav-link i {
    color: var(--primary)
}

.header_section .nav-link:hover {
    color: #222 !important;
}

.adpost_btn {
    background: var(--primary);
    color: #fff !important;
    font-weight: 400 !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.adpost_btn i {
    color: #fff !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header_section .nav-link:hover {
    color: #222 !important;
}

.header_section .nav-link:hover i {
    color: #222 !important;
}

/* ======================= Search Banner  ========================= */
.search_banner {
    padding: 40px 0px;
    background: #f5f5f5;
}

.content h2 {
    font-size: 22px;
    color: var(--black);
    font-weight: 400;
}

.banner_content .form-control {
    height: 59px;
    font-size: 17px;
    font-weight: 400;
    color: #464646;
    box-shadow: none !important;
    border: 3px solid #dedede;
}

.banner_content .btn-primary {
    padding: 0px 18px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--primary);
    border: none;
}

.banner_content .btn-primary i {
    vertical-align: middle;
}

.category_name a {
    display: block;
    border: 1px solid #ebebeb;
    padding: 10px 5px;
    border-radius: 10px;
}

.category_name .icon {
    background: #f5f5f5;
    color: #212121;
    padding: 10px;
    width: 80px;
    height: 80px;
    font-size: 25px;
    line-height: 66px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.category_name:hover .icon {
    background: #ff98001f;
    border-color: #b1b1b185;
    color: var(--primary);
}

.category_name a h6 {
    font-size: 15px;
    color: #212121;
    margin-top: 7px;
    font-weight: 400;
}



/*  category  */
.heading h3 a {
    font-size: 16px;
    color: var(--black);
    font-weight: 500;
}

.category_item ul li {
    display: inline-block;
    padding: 3px 1px;
}

.category_item ul li a {
    font-size: 13px;
    color: #0d6efd;
}

.category_item ul li a:hover {
    text-decoration: underline !important;
    color: #2c2c2c;
}

.product_wrapper .product_wrapper {
    background: #fff;
    border: 1px solid #EEE;
}

.product_wrapper .product_content h3 a {
    font-size: 16px;
    color: #3e3e3e;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.product_wrapper .product_content h3 {
    line-height: 20px;
    margin-bottom: 20px;
}

.product_wrapper .product_content h3 a:hover {
    color: var(--primary);
}

.product_wrapper .product_content {
    padding: 14px 12px;
}

.section_heading h3 {
    font-size: 18px;
    color: #212121;
}

.product_wrapper .product_content .d-flex {
    justify-content: space-between;
}

.product_wrapper .location p,
.product_wrapper .time p {
    font-size: 12px;
}

.product_wrapper .location p i,
.product_wrapper .time p i {
    font-size: 10px;
    color: #858585;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 2px;
}

.product_wrapper .price h4 {
    font-size: 18px;
    color: var(--primary);
    font-weight: 600;
}

.product_wrapper .form-check {
    margin: 0;
    padding: 0;
}

.product_wrapper .form-check-input[type=checkbox] {
    display: none;
}

.product_wrapper .form-check .form-check-label {
    position: relative;
    cursor: pointer;
}

.product_wrapper .form-check .form-check-label:before {
    position: absolute;
    content: "\f005";
    top: -20px;
    left: -32px;
    display: block;
    font-family: 'Font Awesome 5 Free';
    border: 1px solid #ddd;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    height: 30px;
    line-height: 28px;
    color: #bfbfbf;
    font-size: 14px;
}

.product_wrapper .form-check-input:checked~.form-check-label:before {
    color: #fff;
    background: var(--primary);
    border-color: var(--primary);
}


/*  Footer  */
.footer_section {
    background: #f8f8f8;
    border-top: 1px solid #ededed;
}

.footer_widget h3 {
    font-size: 16px;
    color: #212121;
}

.infomation ul li {
    font-size: 13px;
    padding: 8px 0px;
    color: #555;
}

.infomation ul li a {
    color: #414141;
}

.infomation ul li a:hover {
    color: #0d6efd;
}

.footer_links ul li a {
    padding: 8px 0px;
    display: inline-block;
    color: #373737;
}

.footer_links ul li a:hover {
    color: #0d6efd;
}

.social_media ul li a {
    display: inline-block;
    padding: 6px 0px;
    color: #4b4b4b;
    font-weight: 400;
}

.social_media ul li a:hover {
    color: #0d6efd;
}

.copyright p {
    margin: 0;
    font-size: 13px;
    color: #444;
    border-top: 1px solid #EEE;
    padding-top: 10px;
}

.infomation ul li i {
    margin-right: 4px;
}

.mobile_body .input-group .form-control {
    border: 1px solid #ddd;
}

/* login */

/* .signin_section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */
.breadcrumb_section {
    background: #efefef;
    padding: 7px 0px;
}

.breadcrumb li {
    display: inline-block;
    font-size: 14px;
}

.signin_form .form-control {
    border: 1px solid #ddd;
    height: 50px;
}



.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

.signin_form {
    padding: 30px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 20px 60px 0px rgb(0 0 0 / 4%);
}

.signin_form .heading h3 {
    color: #070707;
    font-weight: 400;
    font-size: 23px;
    margin: 0;
    margin-bottom: 10px;
}

.signin_form .heading p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.signin_form .heading p a {
    color: var(--bs-primary);
    font-weight: 400;
}


.signin_form .form-check label {
    cursor: pointer;
    font-size: 15px;
}

.signin_form .form-check .form-check-input {
    margin-top: 0px;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    border: 1px solid #c6c6c6 !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.signin_form .form-check-input:checked {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.signin_form .password_forgot a {
    font-weight: 400;
    font-size: 14px;
    color: var(--bs-black);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.signin_form .password_forgot a:hover {
    color: var(--primary);
}

.signin_form .btn-primary {
    height: 50px;
    background: var(--primary);
    border: none;
    font-size: 17px;
}

.signin_form .btn-primary:hover {
    background: #212121;
}


.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #fff !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.faq_list .accordion-item {
    border: 1px solid #EEE !important;
    margin-bottom: 12px;
    border-radius: 0px !important;
}

.faq_list .accordion-item button {
    font-size: 14px;
    font-weight: 500;
    outline: none !important;
    box-shadow: none !important;
    padding: 26px 19px !important;
    border: none !important;
    color: #000 !important;
    text-align: left;
}

.faq_list .accordion-body {
    padding: 20px 20px !important;
    background: none !important;
}

.faq_list .accordion-body p {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    color: #444;
    padding: 0 !important;
}

.faq_list .accordion-button:not(.collapsed) {
    color: #000 !important;
    border-radius: 0px !important;
}


.breadcrumb_nav h2 {
    font-size: 21px;
    letter-spacing: 2px;
}

.contact_sec .form-control {
    height: 50px;
    border: 1px solid #DDD;
    background: #f5f5f5;
    border-radius: 2px;
}

.contact_sec .form-control::placeholder {
    color: #BBB;
}

.contact_sec .btn-primary {
    border-radius: 2px;
    padding: 9px 30px;
    background: var(--primary);
    border: none !important;
}

.contact_sec .btn-primary:hover {
    background: var(--black);
}

.shop_header {
    background: #fff;
    padding: 10px 10px;
    border-radius: 0px;
    border: 1px solid #f5f5f5;
}

.listing_ad h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #444;
}

.shop_header .filter_form .input-group-text {
    background: transparent;
    border: none !important;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

.shop_header .filter_form .form-control {
    border: 1px solid #DDD;
    border-radius: 3px !important;
}

.shop_sidebar {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.shop_pagination .page-link {
    width: 44px;
    height: 44px;
    margin: 0px 12px;
    border-radius: 2px !important;
    line-height: 31px;
    font-size: 15px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #222;
    border: 1px solid #ededed;
    outline: none !important;
    box-shadow: none !important;
}

.shop_pagination .page-link.active {
    background: var(--primary);
    color: #fff !important;
}

.shop_pagination .page-item.active span {
    background: var(--primary);
    color: #fff !important;
}

.filter_wrap .btn {
    border-radius: 2px;
    padding: 7px 12px;
    font-size: 15px;
    height: 38px;
}

.filter_wrap .btn-primary {
    background: var(--primary);
    font-size: 14px;
}

.filter_wrap .btn-primary:hover {
    background: var(--bs-black);
}

.filter_heading {
    margin-bottom: 20px;
}

.filter_heading h3 {
    font-size: 15px;
}


.filter_category {
    max-height: 350px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0px 10px;
}

.shop_filter_btn {
    background: var(--primary);
    width: 44px;
    height: 44px;
    background-color: var(--primary);
    border-radius: 3px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}

.filter_offcanvas {
    border: none !important;
    width: 300px !important;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
}

.filter_offcanvas .btn-close {
    box-shadow: none !important;
    opacity: 1;
}

.filter_offcanvas .offcanvas-header h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--bs-black);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #C9CACA;
}


.single_pro_content .form-check-input[type=checkbox] {
    display: none;
}

.single_pro_content .form-check .form-check-label {
    cursor: pointer;
}

.single_pro_content .form-check .form-check-label:before {
    content: "\f005";
    display: block;
    font-family: 'Font Awesome 5 Free';
    border: 1px solid #ddd;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    height: 30px;
    line-height: 28px;
    color: #bfbfbf;
    font-size: 14px;
}

.single_pro_content .form-check-input:checked~.form-check-label:before {
    color: #fff;
    background: var(--primary);
    border-color: var(--primary);
}

.seller_wrapper .ad_wrap {
    padding: 21px 18px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px;
    background: #fff;
    border-radius: 4px;
}

.seller_wrapper .heading h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
}

.seller_sort_info .profile {
    border: 5px solid #fff;
    margin-bottom: 5px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.seller_sort_info h3 a {
    font-size: 18px;
    font-weight: 600;
    color: #212121;
}

.seller_sort_info h3 {
    margin: 0;
}

.seller_sort_info .star {
    margin: 0;
    font-size: 15px;
    padding: 6px 0px;
    border-bottom: 1px solid #f5f5f5;
}

.seller_sort_info p {
    margin: 0;
    font-size: 13px;
    padding: 10px 0px;
    border-bottom: 1px solid #f5f5f5;
}

.seller_sort_info .star span {
    font-size: 12px !important;
}

.seller_sort_info .btn-primary {
    border: none !important;
    background: var(--primary);
    border-radius: 2px;
    padding: 10px 17px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    outline: none !important;
    box-shadow: none !important;
}

.seller_sort_info .btn-primary:hover {
    background: var(--black);
}

.seller_sort_info .star img {
    width: 16px;
    height: 16px;
    margin-bottom: 7px;
}

.seller_profile .input-group-text {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    border: none;
    height: 43px;
    border-radius: 0px !important;
    background: #e9e9e9;
    color: #000 !important;
    width: 47px;
    box-shadow: rgb(0 0 0 / 31%) 0px 1px 4px !important;
}

.seller_profile .btn {
    height: 43px;
}

.details h3 {
    font-size: 18px;
    color: #212121;
    margin: 0;
}

.details p {
    font-size: 14px;
    color: #666;
    margin-bottom: 18px;
    line-height: 31px;
}

.related_product .section_heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.slider-btn {
    display: inline-block;
    margin-top: -7px;
    overflow: hidden;
    clear: both;
}

.related_product button.slider-btn--prev.slick-arrow,
.related_product button.slider-btn--next.slick-arrow {
    border: 1px solid #c8c8c8;
    width: 38px;
    height: 38px;
    border-radius: 33px;
    background: transparent;
    color: #000;
    font-size: 18px;
    margin: 0px 6px;
    line-height: 6px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.ad_post_form.choose_category {
    min-height: 380px;
}

.related_product .product_wrapper {
    margin: 10px;
}

.ad_post_form.choose_category .form-check {
    display: inline-block;
    padding: 0;
}

.ad_post_form.choose_category label {
    border: 1px solid #EEE;
    padding: 20px 20px;
    border-radius: 3px;
    background: #9e9e9e26;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.ad_post_form.choose_category label:before {
    position: absolute;
    content: "";
    top: -6px;
    left: -4px;
    width: 20px;
    height: 20px;
    border: 1px solid #e0dada;
    border-radius: 50px;
    font-family: 'Font Awesome 5 Free';
}

.ad_post_form.choose_category .form-check-input:checked~label:before {
    content: "\f00c";
    top: -1px;
    left: 3px;
    border: transparent;
}

.ad_post_form.choose_category label:hover {
    background: #ff9800;
    color: #fff;
}

.ad_post_form.choose_category .form-check-input:checked~label {
    background: #ff9800;
    color: #fff;
}

.ad_post_form.choose_category .form-check-input[type=radio] {
    display: none;
}

.review_form {
    background: #fcefde;
    padding: 10px 15px;
    border-radius: 6px;
}

.review_form .form-control {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.review_form .btn.btn-primary {
    width: 100%;
    border-radius: 0px;
    padding: 12px 0px;
    background: var(--primary);
    border: none !important;
}

.review_form .btn.btn-primary:hover {
    background: var(--black);
}


.review_form .title h4 {
    font-size: 16px;
    color: #494949;
}

.review_list {
    padding: 16px;
    background: #f2f4f8;
    color: #171717;
    border-radius: 6px;
    transition: 0.25s;
    line-height: 1.4;
}

.user_avatar img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.review_list .name h3 {
    font-size: 14px;
    color: #212121;
    font-weight: 600;
    margin: 0;
}

.review_star img {
    width: 18px;
    margin-bottom: 7px;
}

.review_list .content p {
    margin: 0;
    font-size: 13px;
    text-align: justify;
    line-height: 25px;
}

.chat_user_wrapper {
    background: #fbefde;
    padding: 10px;
    max-height: 500px;
    min-height: 100%;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat_box .chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.chat_box .user_list {
    display: block !important;
    margin-bottom: 6px;
    background: #fafafa;
    padding: 7px 9px;
    border-radius: 2px;
    transition: all 0.5ms ease-in;
    -webkit-transition: all 0.5ms ease-in;
    -moz-transition: all 0.5ms ease-in;
    -ms-transition: all 0.5ms ease-in;
    -o-transition: all 0.5ms ease-in;
}

.chat_box .user_list.active {
    background: #feb241 !important;
}

.chat_box .user_list:hover {
    background: #dddddd;
}


.chat_box .user_list img {
    border-radius: 50px;
    border: 2px solid #ff9800;
    margin-right: 8px;
}

.chat_box .user_list h3 {
    font-size: 14px;
    font-weight: 600;
    color: var(--bs-black);
    margin: 0;
    margin-bottom: 5px;
}

.chat_box .user_list span {
    font-size: 12px;
    padding: 0px 9px;
    display: inline-block;
    color: #fff;
    background: #2dbe6c;
    border-radius: 3px;
    padding: 3px;
}
.card.product_wrapper {
    width: 100%;
}


.chat_box .user_list .online {
    background: #2dbe6c !important;
}

.chat_box .user_list .offline {
    background: #d5d5d5 !important;
    color: #000;
}

.chat_box .border-right {
    border-right: 1px solid #efeeee;
    max-height: 634px;
    overflow: hidden;
    overflow-y: auto;
}

.selected_user.header {
    background: #e2e2e2bd;
    padding: 5px 10px;
}

.selected_user.header img {
    border: 2px solid #fff;
    width: 50px;
}

.selected_user.header h5 {
    font-size: 16px;
    color: var(--bs-black);
    margin: 0;
    font-weight: 700;
}

.selected_user.header span {
    font-size: 12px;
    display: inline-block;
    color: #000000;
    border-radius: 3px;
    font-weight: 500;
}

.chat_messages {
    padding: 20px 17px;
    height: 500px;
    background-color: white;
    overflow: auto;
}

.chat_messages::-webkit-scrollbar {
    width: 3px;
}

.chat_messages::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.chat_msg:last-child {
    border: 0;
}

.chat_msg {
    margin-bottom: 14px;
    padding: 10px 14px;
    border-radius: 10px;
}

.chat_msg h3 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    color: var(--bs-primary);
}

.chat_msg p {
    margin: 0;
    font-size: 14px;
    color: #555;
    line-height: 26px;
}

.chat_msg .text-muted {
    text-align: center;
    font-weight: 600;
}

.lg-toolbar .lg-icon {
    color: #fff;
}

.seller_dashboard {
    border: 1px solid #f2f2f2;
    background: #fff;
    padding: 30px 21px;
    border-radius: 10px;
    position: relative;
}

.seller_dashboard .profile {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
}

.info_seller img {
    width: 16px;
    height: 16px;
    margin-bottom: 7px;
}

.info_seller .star span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-left: 8px;
    font-weight: 400;
    color: #333;
}

.info_seller h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 4px;
}

.info_seller p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.info_seller p strong {
    color: #212121;
    margin: 0px 3px;
    font-size: 12px;
}

.chat_form .btn-primary {
    border: none !important;
    background: var(--primary);
    border-radius: 2px;
    padding: 10px 17px;
    font-size: 15px;
    font-weight: 600;
}

.chat_form {
    background: #e2e2e2bd;
    padding: 10px;
}

.chat_form .form-control {
    height: 43px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    box-shadow: none !important;
    border-radius: 0px;
}






















.sidebar_left {
    background: #e4e4e4;
    border: 1px solid #d8d8d8;
    min-height: 100%;
}

.custom-list-style a {
    background-color: #002566;
    padding: 6px 14px;
    display: inline-block;
    font-size: 14px;
    color: #ffffff !important;
    border-radius: 6px;
}

.heading1 ul li a {
    color: #002566;
    font-weight: 500;
    font-size: 13px;
}

.input-style {
    width: 74%;
    padding: 4px 42px;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    font-size: 14px;
}

.heading1 ul li {
    list-style: none;
}

.custom-calender h5 a {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    color: #0000EE;
    font-weight: 600;
}

.heading2 {
    background: #e4e4e4;
    border: 1px solid #e3e3e3;
}

.heading2 h5 {
    color: #545454;
    font-size: 22px;
}

.heading2 a {
    color: #464444;
    font-weight: 600;
}

.heading-child {
    background: #EEEEEE;
    padding: 1px 1px;
    padding-top: 2px !important;
    border: 2px solid #EEEEEE;
}

.heading-child h5 {
    font-size: 19px !important;
}

.sidebar_right ul li a {
    display: block;
    padding: 4px 0px;
    font-size: 12px;
    color: #0000EE;
}

.sidebar_right ul li a:hover {
    color: #212121;
    background: #ebebeb;
}

.language_dropdown.form-control {
    font-weight: 500;
    width: 159px;
    margin: 0 auto;
    margin-top: 9px;
    height: 35px;
    border-radius: 4px;
}

.list-style {
    padding: 5px !important;
    font-size: 12px !important;
    display: inline-block !important;
    width: 100%;
}

.list-style3 {
    padding: 5px !important;
    font-size: 11px !important;
    display: inline-block !important;
    width: 100%;
}

.sidebar_right {
    background: #e4e4e4;
    border: 1px solid #d8d8d8;
    min-height: 100%;
}

.heading3 ul li {
    list-style: none;
}

.heading-child3 {
    background: #EEEEEE;
    padding: 1px 1px;
    padding-top: 2px !important;
}

.input-style3 {
    width: 50%;
    /* padding: 1px 30px; */
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    font-size: 12px;
}

.custom-list-style4 a {
    background: #fff;
    padding: 2px 37px;
    border: 1px solid #EEEEEE;

}

.custom-list-style5 {
    line-height: 16px;
}

.custom-list-style5 a {
    font-size: 12px;

}

.custom-style6 {
    background: #F4F4F4;
}

.list-syle-hover ul li:hover {
    background: #FFFFFF;
}

.first-list-style ul li a {

    color: #0A58CA;
    font-size: 16px;
    margin-left: 0px !important;
}

.list-group {
    list-style: none;
}

.first-list-style ul li :hover {
    background: #F4F4F4;
}


.table-condensed {
    min-width: 237px;
}

.table-condensed tr th {
    font-size: 13px;
    color: #ffffff;
    border: 1px solid #424242;
    background: #393939;
}

.table-condensed tr td {
    border: 1px solid #dadada;
    font-size: 13px;
}

.table-condensed .btn-primary {
    background: #2196f3;
    color: #fff;
    font-weight: 200 !important;
}

.list-style1 ul li a {
    display: block;
    padding: 4px 0px;
    font-size: 12px;
    color: #0000EE;
    font-weight: 500;
}

.footer_menu {
    background: #333333;
}

.footer_menu ul li {
    list-style: none;
    display: inline-block !important;

}

.footer_menu ul li {
    font-size: 12px;
    font-weight: 400;
}

.footer_menu ul li a {
    color: #bcbcbc;
    padding: 0px 4px;
}

.footer_menu ul li a:hover {
    color: #fff;
}

.form-control {
    height: 42px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.search-style .text-input-group {
    border: none !important;
    background: #c0c0c0;
    color: #000;
    padding: 0px 11px;
    font-weight: bold;
    border-radius: 0px 2px 2px 0px;
}

.category_list li a {
    display: block;
    padding: 6px 0px;
    font-size: 13px;
    color: #03a9f4;
    border-bottom: 1px solid #e9e9e9;
}

.main_body {
    background: #fff;
    padding: 11px 18px;
}

.list-style1 ul li a {
    display: block;
    padding: 4px 0px;
    font-size: 13px;
    color: #0000EE;
}

.list-style1 ul li a:hover {
    text-decoration: underline !important;
    color: #212121;
}

/*
 * Mobile view css
 */
.heading-style1 ul li a {
    background: #EEEEEE;
    font-size: 20px;
    color: #0A58CA;
}

.heading-style2 ul li a {
    text-align: right;
    background: #EEEEEE;
    font-size: 20px;
    color: #0A58CA;
}

.custom-collapes ul li a {
    background: #EEEEEE;
    font-size: 20px;
    color: #0A58CA;
}

.list-style-colla {
    padding: 5px !important;
    font-size: 12px !important;
    display: inline-block !important;
    width: 100%;
    background: #fff;
}

.first-list-style-colla ul li a {
    background: #fff;
    color: #0A58CA;
    font-size: 16px;
    margin-left: 0px !important;
}

.list-group {
    list-style: none;
}

.first-list-style-colla ul li :hover {
    background: #F4F4F4;
}

.custom-button {
    text-decoration: none;
    text-align: left;
    font-size: 19px;
}

.custom-heading {
    background: #EEEEEE;
}


.category_heading h5 a {
    font-size: 13px;
    font-weight: 600;
    background: #e2e2e2;
    margin: 0;
    padding: 7px 0px;
    display: block;
    border: 1px solid #BBB;
    color: #0000EE !important;
}

.category_list li a:hover {
    background: #e4e4e4;
    color: #171717;
}

.category_list li a {
    display: block;
    padding: 2px 2px;
    font-size: 12px;
    color: #00E;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 400;
}


.mobile_header {
    background: #333333;
}


.mobile_heade_right ul li {
    display: inline-block;
}

.mobile_heade_right ul li a {
    color: #fff;
    font-size: 14px;
    padding: 0px 5px 0px 11px;
}

.mobile_heade_right {
    padding: 13px 0px;
}


.mobile_body .text-input-group {
    border: none !important;
    background: #ffc107 !important;
    padding: 0px 11px;
    font-size: 21px;
    color: #2c2c2c;
}

.mobile_body .accordion-button {
    font-size: 13px;
    font-weight: 500;
    box-shadow: none !important;
    border: none !important;
    padding: 16px 0px !important;
    background: #494949 !important;
    color: #fff !important;
    margin-bottom: 4px !important;
    border-radius: 3px !important;
}

.mobile_body .accordion_body {
    padding: 18px 14px;
}

.mobile_body .accordion_body ul li a {
    display: block;
    padding: 7px 0px;
    font-size: 13px;
    color: #00E;
    font-weight: 400;
}


.header_logo {
    background: #fff;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: #3a3a3a !important;
    padding: 1px 10px;
    border-radius: 2px;
    margin-top: 4px;
}

.site_logo a {
    color: #fff;
    font-size: 13px;
    padding-left: 5px;
}

.breadcrumb ul li {
    display: inline-block;
}

.breadcrumb ul li a {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #212121;
}

.breadcrumb {
    display: inline-block;
    margin: 0;
    padding-left: 6px;
}


/* shop page */
.main_template .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: -88%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 18px;
    width: 200px;
    background-color: #fff;
}



.main_template .sidebar_menu {
    left: 0;
}

.main_template .margin_left {
    margin-left: 200px;
}

/* @media only screen and (min-width: 576px) {

   .row{
        margin:0;
        padding:2em 4em;
        }
} */
.main_template .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.main_template .sidenav a:hover {
    color: #f1f1f1;
}

.main_template .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px 10px 0px 15px;
    background: #e7e7e7;
}

.product_search .form-control {
    height: 42px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    box-shadow: none !important;
    background: #fafafa;
    border: 1px solid #DDD;
}

.navbar_btn {
    float: left;
    vertical-align: middle;
    line-height: 39px;
    cursor: pointer;
}


.header {
    z-index: 99;
    background: #EEE;
    padding: 10px 6px;
    border-bottom: 1px solid #DDD;
}

.header_end ul li {
    display: inline-block;
    padding: 4px 14px 0px 12px;
    border-right: 1px solid #DDD;
}

.header_end ul li:last-child {
    border: 0;
    padding: 0px 0px 0px 7px;
}

.header select {
    border: 1px solid #DDD;
    padding: 4px 8px;
    text-align: left;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 3px;
    width: 200px;
}


.prodouct_wrap {
    border: 1px solid #eaeaea;
    background: #fff;
    position: relative;
}

.product_content {
    padding: 5px 6px;
}

.product_content h4 a {
    font-size: 13px;
    font-family: 'Poppins';
    color: #2196f3;
    line-height: 19px;
    display: block;
    font-weight: 400;
}

.product_content h4 a:hover {
    text-decoration: underline !important;
}

.product_content p {
    color: #777;
    font-size: 13px;
    margin: 0;
    margin-bottom: 7px;
}

.product_content p a {
    background: #ff00002e;
    color: #000;
    border-radius: 24px;
    font-size: 11px;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 19px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.product_content p a:hover {
    background: #ff0000;
    color: #fff;
}

.product_content h5 {
    font-size: 13px;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 2px;
}

.prodouct_wrap .form-check {
    padding: 0;
    display: inline-block;
    font-size: smaller;

}

.prodouct_wrap .favorite span {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-left: 16px;
    vertical-align: middle;
    padding-top: 0px;
    display: inline-block;
}


.prodouct_wrap .favorite {
    position: absolute;
    background: #fff;
    padding: 0px 7px;
    display: inline;
    left: 8px;
    top: 8px;
    height: 21px;
    border-radius: 2px;
}


.accordion-body p {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
    padding: 20px;
    color: #777;
}

.prodouct_wrap .form-check-input[type=checkbox] {
    display: none;
}

.prodouct_wrap .form-check {
    position: relative;
}

.prodouct_wrap .form-check label::before {
    position: absolute;
    content: "☆";
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    z-index: 0;
    top: -5px;
    left: 0;
    line-height: 24px;
    color: rgb(158, 154, 154);
}

.prodouct_wrap .form-check-input:checked+label:before {
    content: "★";
    color: orange;
}

.shop_filter .filter_category label {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.shop_filter .form-label {
    font-size: 12px;
    font-weight: 500;
}

.shop_filter .form-control {
    background: #fff;
    border: 1px solid #efefef;
    outline: none !important;
    box-shadow: none !important;
    height: 45px;
    font-size: 14px;
    vertical-align: middle;
    align-items: center !important;
    padding: 0px 10px;
    border-radius: 3px !important;
}

.shop_filter h5 {
    font-size: 14px;
    margin-bottom: 14px;
    color: #565656;
    line-height: 18px;
}

.shop_filter .input-group-text {
    border: none !important;
    font-size: 11px;
    text-align: center;
    background: #f2f2f2;
    padding: 0px 7px;
    font-weight: bold;
}

.availabililty_select .form-control {
    height: 29px;
    padding: 0px 8px;
    margin: 0 !important;
}

.shop_filter .form-check {
    padding: 4px 19px;
}

.shop_filter .form-check label {
    font-size: 13px;
    font-weight: 400;
    color: #666;
    cursor: pointer;
}

.filter_wrap button {
    border: none !important;
    background: #fff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.single_product {
    margin-top: 24px;
}

.single_product .single_item img {
    height: 350px !important;
    width: 100% !important;
}

.single_product .mySwiper2 {
    position: relative;
    width: 100%;
    margin-bottom: 4px;
    overflow: hidden;
    background-color: #ebeef7;
}

.single_product .mySwiper2 .swiper-slide {
    display: flex;
    justify-content: center;
}

.single_product .mySwiper2 .swiper-slide img {
    width: 100%;
    margin: 0px auto;
}

.single_product .mySwiper .swiper-slide {
    opacity: 0.4;
    transition: all 0.3s ease-in;
    width: 76px !important;
    height: 76px;
    margin: 0 !important;
}

.single_product .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.single_product .swiper {
    width: 100%;
    height: 100%;
}

.single_product .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.single_product .swiper-slide img {
    display: block;
    width: 70px;
    height: 70px;
    -o-object-fit: cover;
    object-fit: cover;
}

.single_product .swiper-button-prev {
    left: 24px;
}

.single_pro_content h3 {
    margin: 0;
    font-size: 17px;
    color: #555;
}

.single_product .swiper-button-prev,
.single_product .swiper-button-next {
    color: #002233;
}

.single_product .swiper-button-prev::after,
.single_product .swiper-button-next::after {
    font-size: 36px;
}

.single_product .swiper-button-next {
    right: 24px;
}

.details p {
    font-size: 13px;
    line-height: 29px;
    color: #444;
    text-align: justify;
}

.details ul li {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #444;
}

.product_info .form-check-input[type=checkbox] {
    display: none;
}

.checkbox {
    text-align: center;
    display: flex;
}

.product_info .form-check {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0px 30px 0px 0px;
}

.product_info .form-check label {
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    display: flex;
}

.product_info .form-check label::before {
    position: absolute;
    content: "☆";
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    z-index: 0;
    top: -24px;
    left: 0;
    right: 0;
    line-height: 24px;
    color: rgb(158, 154, 154);
    margin: 0 auto;
    text-align: center;
}

.product_info .form-check-input:checked+label:before {
    content: "★";
    color: orange;
}

.form-check.hide_collection label::before {
    content: "✖" !important;
    font-size: 14px;
}

.hide_collection .form-check-input:checked+label:before {
    content: "❌" !important;
    font-size: 12px;

}

.form-check.flag_mark label::before {
    content: "⚐" !important;
}

.flag_mark .form-check-input:checked+label:before {
    content: "⚑" !important;
    color: red;
}

.ad_post_form p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.ad_post_form h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.ad_post_form h6 span {
    font-weight: 600;
}

.ad_post_form .form-check-label {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.form-check-input {
    margin-top: 5px;
}

.ad_post_form .form-check {
    margin-bottom: 6px;
    font-size: 15px;
}

.ad_post_form .btn-light {
    padding: 10px 35px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: var(--primary);
    color: #212121;
    font-weight: 600;
    border: none !important;
}

.ad_post_form .btn-light a {
    color: #212121;
}

.ad_post_form .form-control {
    border: 1px solid #d8d8d8;
    box-shadow: rgb(99 99 99 / 3%) 0px 2px 8px 0px !important;
    height: 48px;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    box-shadow: rgb(99 99 99 / 3%) 0px 2px 8px 0px !important;
    height: 48px !important;
    border-radius: 4px;
}

.form_wrapper {
    border: 1px solid #c8c8c8;
    padding: 0px 13px;
    border-radius: 1px;
    background: #F7F7F7;
    position: relative;
}



.contact_details h6 {
    font-size: 13px;
    font-weight: 600;
}

.ad_post_form .form-control::placeholder {
    color: #888;
}

.login_form .form-control {
    border: 1px solid #cac9c9;
    background: #dddd;
}

.login_form .btn-light {
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #d4d4d4;
    border: none !important;
}

.accordion-button {
    color: #0000EE !important;
    font-weight: 600;
}

.accordion-button::after {
    display: none;
}

.accordion-item {
    border: none !important;
    border-radius: 0px !important;
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button {
    outline: none !important;
    box-shadow: none !important;
    background: #e4e4e4 !important;
    border-radius: 0px !important;
    font-size: 12px;
    padding: 8px 7px !important;
    text-align: center;
    display: block;
    border-top: 1px solid #d7d7d7 !important;
    border-bottom: 1px solid #d7d7d7 !important;
}

.accordion-body {
    padding: 0;
    background: #e4e4e4;
}

.content p {
    font-size: 13px;
    line-height: 28px;
    text-align: justify;
    color: #666;
    margin: 0;
    margin-bottom: 30px;
}

.page_content p {
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    color: #666;
    margin: 0;
    margin-bottom: 18px;
}

.form_wrapper .title h6 {
    position: absolute;
    top: -8px;
    left: 9px;
    background: #f7f7f7;
    padding: 0px 10px 0px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #008800 !important;
}

.inline_checkbox .form-check {
    display: inline-block;
    margin-right: 15px;
}

.notice p {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}


/* .text-success {
    color: #008800 !important;
    font-weight: 500;
} */


.availability_check .form-check {
    display: inline-block;
    padding-bottom: 7px;
}


.form-check-input:checked[type=checkbox] {
    outline: none !important;
    box-shadow: none !important;
}



.form-control[readonly] {
    background-color: #dedede !important;
    opacity: .7;
}

.user_dashboard li {
    width: 14.28%;
}

.user_dashboard ul li a {
    padding: 12px 4px;
    display: inline-block;
    font-size: 13px;
    color: #212121;
    background: #ff98001f;
    font-weight: 600;
    border: 1px solid #ff9800 !important;
    width: 100%;
}

.user_dashboard ul li button {
    padding: 0px;
    border-radius: 0px !important;
    border: none !important;
    width: 100%;
}

.user_dashboard .nav-tabs {
    border: none !important;
}

.user_dashboard .nav-tabs .nav-item.show .nav-link,
.user_dashboard .nav-tabs .nav-link.active a {
    background: #ff9800;
    border-radius: 0;
    color: #fff;
}

.user_dashboard .nav-tabs .nav-item.show .nav-link:hover,
.user_dashboard .nav-tabs .nav-link:hover a {
    background: #ff9800;
    border-radius: 0;
    color: #fff;
}

.select2-container {
    width: 100% !important;
}

.select2-selection__rendered {
    line-height: 48px !important;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}




















































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* custom css are here */

@media only screen and (min-width: 576px) {
    img.w-100 {
        height: 195px;
    }
}
















/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
