@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1120px;
    }
}

@media screen and (max-width:991px) {
    .main_template .sidenav {
        top: 79px;
    }

    .header_section {
        padding: 10px 0px;
    }

    .header_section .nav-link {
        font-size: 13px;
        padding: 8px 9px !important;
        margin: 5px 0px;
        display: inline-block;
        border-radius: 3px;
    }

    .header_section .navbar-toggler {
        border: 1px solid #ddd;
        outline: none !important;
        box-shadow: none !important;
    }

    .user_dashboard li {
        width: 25%;
    }
}

@media (max-width: 767px) {
    .single_product .swiper-button-next {
        right: 6px;
    }

    .single_product .swiper-button-prev::after,
    .single_product .swiper-button-next::after {
        font-size: 24px;
    }

    .single_product .swiper-button-prev {
        left: 6px;
    }

    .main_template .sidenav {
        top: 112px;
    }

    .user_dashboard li {
        width: 33%;
    }

    .chat_seller_btn {
        top: 9px;
        left: 58px;
        position: inherit;
    }
}

@media screen and (max-width:575px) {
    .main_template .sidenav {
        top: 144px;
    }

    .main_template .sidebar_menu {
        left: 0;
    }

    .main_template .margin_left {
        margin-left: 0px;
    }

    .mobile_nav {
        position: absolute;
        top: 8px;
        right: 13px;
    }

}


@media screen and (max-width:500px) {
    .user_dashboard ul li a {
        padding: 8px 18px;
    }

    .user_dashboard li {
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .user_dashboard ul li a {
        padding: 6px 10px;
        font-size: 13px;
    }
}

@media screen and (max-width:300px) {
    .user_dashboard li {
        width: 100%;
    }
}